<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{site.description}}">


	<title>{{site.title}}{% if page.title %} - {{page.title}}{% endif %}</title>

	<link rel="stylesheet" href="{{site.url}}/assets/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{site.url}}/assets/lib/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{site.url}}/assets/stylesheets/solarized-dark.css">
	<link rel="stylesheet" href="{{site.url}}/assets/stylesheets/main.css">

	<script src="{{site.url}}/assets/lib/jquery/jquery-1.11.3.min.js"></script>
</head>
<body>

	{{ content }}

    <script src="{{site.url}}/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
