Source: flow
Maintainer: Jakob Odersky <jodersky@gmail.com>
Section: java
Priority: optional
Build-Depends: debhelper (>= 8.0.0), openjdk-7-jdk
Standards-Version: 3.9.3
Homepage: https://github.com/jodersky/flow
Vcs-Git: git://github.com/jodersky/flow.git

Package: libflow3
Architecture: any
Section: java
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Provides the native backend and JNI bindings for flow.
 This package contains a native library to fully enable flow, a
 serial communication library for Scala.