header::before {
    width: 100%;
    height: 10px;
    display: block;
    background-color: #e8f6fa;
    content: '';
}

.navbar {
    margin-bottom: 0px;
}

.jumbotron {
    background-color: #e8f6fa;
}

.navbar-brand img {
    display: inline-block;
    max-height: 100%;
}

aside.notice {
    padding: 15px;
    background-color: #f2f2f2;
}