---
layout: page
title: Downloads
---
<h2>Latest Version <small>{{site.data.releases.current.version}}</small></h2>
<div class="row">
  <div class="col-lg-8">
    <h3>Sbt Coordinates</h3>
    <p>Add the following to the build configuration:</p>
    {% include_relative _snippet.md %}
    <h3>Archives</h3>
    <ul>
      {% for download in site.data.releases.current.downloads %}
      <li>
	{{download.name}}
	{% for link in download.links %}
	<a href="{{link.url}}">{{link.name}}</a>
	{% endfor %}
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-lg-4">
    <h3>Supported Platforms*</h3>
    <table class="table">
      <thead>
	<tr>
	  <th>Kernel</th><th>Architecture</th>
	</tr>
      </thead>
      <tbody>
	{% for platform in site.data.releases.current.platforms %}
	<tr>
	  <td>{{platform.kernel}}</td><td>{{platform.arch}}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    <p class="small">*These are the platforms for which a native library is included in the release.
      Flow is POSIX compatible so it can be built for a lot more platforms.</p>
  </div>
</div>

<h2>Release Notes</h2>
<p>Consult the <a href="https://github.com/jodersky/flow/blob/master/CHANGELOG.md">release notes</a> for important changes.</p>

<h2>Requirements</h2>
<p>Flow depends on Akka 2.4 and requires a Java runtime version of 1.8.</p>

<h2>Previous Versions</h2>
{% for release_hash in site.data.releases.previous %}
{% assign release = release_hash[1] %}
<h3>{{release.version}}</h3>
<ul>
  {% for download in release.downloads %}
  <li>
    {{download.name}}
    {% for link in download.links %}
    <a href="{{link.url}}">{{link.name}}</a>
    {% endfor %}
  </li>
  {% endfor %}
</ul>
{% endfor %}
<h3>Older Releases</h3>
Archived releases are available in <a href="https://github.com/jodersky/flow/releases">GitHub releases</a>.
