/autom4te.cache
/libtool
/aclocal.m4
/config.sub
/config.log
/config.guess
/config.status
/config.h.in
/config.h
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/stamp-h1
/m4
!/m4/ax_jni_include_dir.m4

Makefile.in
Makefile
.deps
.libs
*.o
*.la
*.lo
*.so*
*.dylib
*.a
*~

